#content{
    height: 100%;
}

#canvas{
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
}

.section{
    margin-top: 5%;
}


.content{
    font-family: 'Orator', monospace;
    text-align: center;
    color: black;
    font-size: 22px;
}

nav{
    background-color: black;
    height: 15%;
    padding: 10px;
    text-align: center;
    font-size: 18px;
    border: 0;
}

nav a{
    font-family: 'Orator', monospace;
    color: silver;
    margin: 30px;
    text-decoration: none;
}

nav a:hover{
    color: white;
}

body{
    margin: 0;
}

@font-face {
    font-family: axaxax;
    font-weight: bold;
    src: url(../Assets/Fonts/axaxax\ bd.otf);
}

@font-face {
    font-family: kirsty;
    src: url(../Assets/Fonts/kirsty\ rg.otf);
}

@font-face {
    font-family: kirsty;
    font-weight: bold;
    src: url(../Assets/Fonts/kirsty\ bd.otf);
}